In [1]:
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [2]:
df_original = df.copy()

In [3]:
df_salary_nona = df_original.copy()

In [4]:
median_salary_year = df_salary_nona['salary_year_avg'].median()

In [5]:
df_salary_nona['salary_year_avg'] = df_salary_nona['salary_year_avg'].fillna(median_salary_year)

In [7]:
df_salary_nona.sample(5)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
419648,Data Engineer,Data Engineer,Anywhere,via LinkedIn,Full-time,True,India,2023-09-01 16:32:09,True,False,India,None,115000.0,NaN,PradeepIT Consulting Services Pvt Ltd,"['sql', 'python', 'aws', 'redshift', 'airflow']","{'cloud': ['aws', 'redshift'], 'libraries': ['..."
84308,Data Scientist,Data Science Lead - Dv Cleared,Anywhere,via EMPREGO.pt,Full-time,True,United Kingdom,2023-09-17 00:08:24,False,False,United Kingdom,None,115000.0,NaN,Service Care,None,None
492319,Senior Data Scientist,*Senior Data Scientist,Illinois,via The Muse,Full-time,False,"Illinois, United States",2023-02-15 11:07:18,False,True,United States,None,115000.0,NaN,CVS Health,"['python', 'r', 'scala', 'tensorflow', 'airflo...","{'libraries': ['tensorflow', 'airflow', 'pyspa..."
188867,Business Analyst,QA Engineer,"Buenos Aires, Argentina",via BeBee,Full-time,False,Argentina,2023-02-22 15:50:26,True,False,Argentina,None,115000.0,NaN,Talently,"['bash', 'python', 'mysql', 'elasticsearch', '...","{'async': ['notion'], 'databases': ['mysql', '..."
616392,Data Scientist,Data Scientist,"Noida, Uttar Pradesh, India",via BeBee India,Full-time,False,India,2023-06-23 12:54:10,False,False,India,None,115000.0,NaN,SigFig,"['sql', 'python', 'r', 'julia', 'shell', 'pand...","{'analyst_tools': ['tableau'], 'libraries': ['..."